/**************\
*              / 
*              /
*              /
*              /
*              /
*              /
*              /
***************/



/***********/
/* General */
/***********/

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

html { scroll-behavior: smooth; }

:root {
    --body-background: linear-gradient(56deg, rgba(3,13,20,1) 0%, rgba(6,27,36,1) 40%, rgba(35,33,61,1) 100%);
    --text-color: white;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(3,13,20);
    color: var(--text-color);
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(20px);
    }
    60% {
        transform: translateY(10px);
    }
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f100;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 20px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  } 

/***************/
/*  Navigation */
/***************/
nav {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    transition: background-color 0.3s ease, opacity 0.3s ease; 
}

nav.sticky-nav {
    position: fixed;
    background: linear-gradient(56deg, rgb(5,23,31) 0%, rgb(12,28,41) 40%, rgba(35,33,61,1) 100%);
    z-index: 10;
}

nav ul {
    padding: 0;
    list-style: none;
    display: flex;
}

nav a {
    text-transform: uppercase;
    text-decoration: none;
    padding: 2em;
    font-weight: bolder;
    font-size: 1em;
    color: var(--text-color);
}

nav {
    display: grid;
    place-items: center;
}

/************/
/* Top part */
/************/

.arrow-link {
    color: rgb(65, 176, 213);
    display: inline-block;
    max-width: 20%;
    padding: 15px;
    text-decoration: none;
    border-radius: 5px;
}

.arrow-icon {
    font-size: 24px;
    margin-right: 10px;
}

header {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--body-background);
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-shadow:0 0 400px #000;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-weight: 900;
    font-size: 2.5em;
    margin-bottom: 0.5em; 
}

section > p {
    max-width: 70%;
}

footer,#contact {
    margin-bottom: 10%;
} 

/*************/
/* Projecten */
/*************/

#projecten {
    margin-top: 2%;
    margin-bottom: 10%;
}

.project-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 70%;
}

.project-wrapper div {
    padding: 0px;
}

.project-wrapper img {
    width: 600px;
}

.container {
    display: flex;
    align-items: center;
}

.container img {
    max-width: 100%;
    height: auto;
    margin-right: 10px; 
}

.container p {
    margin: 0; 
    font-size: .75em;
}

div>h3{
    text-align: center;
}

div>.btn {
    display: inline-block;
    margin: 5px 3px;
    color: white;
    padding: 5px 8px;
    color: #fff; 
    border-radius: 5px; 
    text-decoration: none;
    font-size: 12px;
    line-height:15px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.php {
    background: #4D588E;
    cursor:default;
}

.sql {
    background-color: #f59453;
    cursor:default;
}

.html {
    background-color: #e95d22;
    cursor:default;
}

.css {
    background-color: #2079B6;
    cursor:default;
}

.js {
    background-color: #dabe0b;
    cursor:default;
}

.ps {
    background-color: #003f72;
    cursor:default;
}

.sv {
    background-color: #10acf5;
    cursor:default;
}

.link {
    background-color: rgb(26, 60, 86);
    float: right;
    font-size: 16px;
    margin: 1% 2.5%;
    padding: 8px 14px;
    color: white;
    border-radius: 5px; 
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

/************/
/* Over mij */
/************/


#over-mij-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
}


#over-mij-container img {

    width: 150px;
    margin-right: 10px; 
}

#skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
}

#skills div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 3px 5px;
}

#over-mij p {
    max-width: 60%;
}

/***********/
/* Contact */
/***********/   

#contact {
    margin: 5%;
}

.form {
    z-index: 1;
    width:590px;
    height:370px;
    background:rgb(32, 44, 54);
    border-radius:8px;
    box-shadow:0 0 40px -10px #000;
    padding:20px 30px;
    max-width:calc(100vw - 40px);
    box-sizing:border-box;
    font-family:'Montserrat',sans-serif;
}

.contact-input{
    width:100%;
    padding:10px;
    box-sizing:border-box;
    background:none;
    outline:none;
    resize:none;
    border:0;
    font-family:'Montserrat',sans-serif;
    transition:all .3s;
    border-bottom:2px solid #bebed2;
    color: white;
}

.contact-input:focus{
    border-bottom:2px solid #ffffff
}

.contact-label:before{
    content:attr(type);
    display:block;
    margin:28px 0 0;
    font-size:14px;
    color:#afafaf
}

.form>button{
    float:right;
    padding:8px 12px;
    margin:8px 0 0;
    border: 2px solid #78788c;
    background:0;
    color:#ffffff;
    cursor:pointer;
    transition:all .3s
}

.form>button:hover{
    background:#78788c;
    color:#fff
}

/**********/
/* Footer */
/**********/
footer {
    width: 100%;
    height: 20%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.422);

    position: absolute;
}



/***************/
/* Mobile Menu */
/***************/
.tab-nav-container {
    z-index: 10;
    background-color: rgb(5, 15, 23);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    display: none;
    justify-content: space-between;
    padding: 30px;
    width: 450px;
    bottom: 0px;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
}

.tab {
    background-color: rgb(32, 48, 60);
    border-radius: 25px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 0 10px;
    transition: background 0.4s linear;
}

.tab i {
    font-size: 1.2em;
}

.tab p {
    font-weight: bold;
    overflow: hidden;
    max-width: 0;
}

.tab-nav-container a {
    color: white;
    text-decoration: none;
}

.tab.active p {
    margin-left: 10px;
    max-width: 200px;
    transition: max-width 0.4s linear;
}

/*********************/
/* mobile responsive */
/*********************/

@media (max-width: 500px) {
    header {
        height: 90vh
    }

    nav {
        display: none;
    }

    .tab-nav-container {
        display: flex;
        padding: 20px;
        width: 350px;
    }

    .tab {
        padding: 0 20px;
        margin: 0;
    }

    .tab i {
        font-size: 1em;
    }

    header>section {
        text-align: center;
    }
}

@media (max-width: 1200px) { 
    .project-wrapper {
        display: flex;
        flex-direction: column;
        max-width: 90%;
    } 

    .container p {
        font-size: 1em;
    }

    #over-mij-container {
        display: flex;
        flex-direction: column;
        max-width: 80%;
    } 

    #over-mij-container {
        font-size: 1em;
    }
}
